body {
  font-family: 'Tajawal', sans-serif;
  background-color: #f6f7fb;
  color: #333;
  text-align: center;
  direction: rtl;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
}

label {
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-align: right;
  margin-top: 12px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  background-color: #05455a;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.logout-btn {
  background-color: #c82333;
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}
